
@{
    ViewBag.Title = "Link";
    Layout = null;
}

<ul class="linked">
    <li class="link" onclick="window.openLink('https://bds.bkav.com', '_blank')">
        <img src="../../Content/Link/bds.bkav.com.png"/>
        <span>Document</span>
    </li>
    <li class="link" onclick="window.openLink('https://bkavacs.bkav.com', '_blank')">
        <img src="../../Content/Link/bkavacs.bkav.com.png"/>
        <span>BkavAcs</span>
    </li>
    <li class="link" onclick="window.openLink('https://bsdp.bkav.com', '_blank')">
        <img src="../../Content/Link/bsdp.bkav.com.png"/>
        <span>BSDP</span>
    </li>
    <li class="link" onclick="window.openLink('https://danhba.bkav.com/', '_blank')">
        <img src="../../Content/Link/danhba.bkav.com.png"/>
        <span>Danh bạ</span>
    </li>
    <li class="link" onclick="window.openLink('https://efood.bkav.com/', '_blank')">
        <img src="../../Content/Link/efood.bkav.com.png"/>
        <span>Efood</span>
    </li>
    <li class="link" onclick="window.openLink('https://hrm.bkav.com/', '_blank')">
        <img src="../../Content/Link/hrm.bkav.com.png"/>
        <span>Bkav Hrm</span>
    </li>
    <li class="link" onclick="window.openLink('https://bds.bkav.com/Default.aspx?CategoryMenu=1', '_blank')">
        <img src="../../Content/Link/phanmem.bkav.com.png"/>
        <span>Phần mềm</span>
    </li>
    <li class="link" onclick="window.openLink('https://bsma.bkav.com/', '_blank')">
        <img src="../../Content/Link/bsma.bkav.com.png"/>
        <span>BSMA</span>
    </li>
    <li class="link" onclick="window.openLink('https://blog.bkav.com/', '_blank')">
        <img src="../../Content/Link/blog.bkav.com.png"/>
        <span>Bkav Blog</span>
    </li>
</ul>
