@model IEnumerable<Bkav.eGovCloud.Areas.Admin.Models.DomainModel>
@{
    ViewBag.Title = "Danh sách domain";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(function () {
        $("#tblDomain").grid({
            isResizeColumn: true,
            isFixHeightContent: false
        });
    })
</script>
<div class="section-header">
    <div class="title">
        <i class="fa icon-archive"></i>
        <span>@Localizer("Setting.ConnectionSetting.Tab.Title")</span>
    </div>
    <div class="options">
        <a class="btn  btn-warning control-btn" href="/admin/domain/Create">
            <span class="icon icon-plus"></span>
            <span class="text-uppercase" data-res="egov.resources.buttons.add"></span>
        </a>
    </div>
</div>
<div id="tabs" class="bkavegov">
    <div id="divListDocFields">
        @Html.Partial("_Notifications")
        @{
            Html.RenderPartial("PartialList", Model);
        }
    </div>
</div>