@{
    Layout = null;
}

<dialog class="mdl-dialog transfer-dialog" id="tranfer" style="display: none;">
    <div class="mdl-dialog__title" style="font-size: 21px;">Chuyển văn bản</div>
    <div class="mdl-dialog__content">

    </div>
    <div class="mdl-dialog__actions">
        <button class="mdl-button mdl-js-button mdl-button--primary btnSend">
            Chuyển
        </button>
        <button class="mdl-button close">Đóng</button>
    </div>
</dialog>

<dialog class="mdl-dialog confirmActions-dialog" id="confirmActions" style="display: none;">
    <div class="mdl-dialog__title" style="font-size: 21px;">Thông báo</div>
    <div class="mdl-dialog__content">
        test
    </div>
    <div class="mdl-dialog__actions">
        <button class="mdl-button mdl-js-button mdl-button--primary btnFirstAction hidden">
            Chuyển
        </button>
        <button class="mdl-button mdl-js-button mdl-button--primary btnSecondaryAction hidden">
            Chuyển
        </button>
        <button class="mdl-button mdl-js-button btnCancel">Hủy</button>
    </div>
</dialog>

<dialog class="mdl-dialog confirm-dialog" id="confirm" style="display: none;">
    <div class="mdl-dialog__title">Thông báo</div>
    <div class="mdl-dialog__content">
        test
    </div>
    <div class="mdl-dialog__actions">
        <button class="mdl-button mdl-js-button mdl-button--primary btnConfirm">
            Xác nhận
        </button>
        <button type="button" class="mdl-button btnCancel">
            Hủy
        </button>
    </div>
</dialog>