@{
    Layout = null;
}

<style>
    .mdl-layout__drawer {
  width: 450px !important;
}

.mdl-layout__drawer.is-visible {
  left: 0;
}
</style>

<div id="documentFrame" data-theme="documents" data-app="documents" class="egov-app trans trans-left" style="background:url(../../Content/Images/home/back-ipad.jpg)">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title">Title</span>
                <div class="mdl-layout-spacer"></div>
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                    <a class="mdl-navigation__link" href="">Link</a>
                    <a class="mdl-navigation__link" href="">Link</a>
                    <a class="mdl-navigation__link" href="">Link</a>
                    <a class="mdl-navigation__link" href="">Link</a>
                </nav>
            </div>
        </header>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">Title</span>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="">Link</a>
                <a class="mdl-navigation__link" href="">Link</a>
                <a class="mdl-navigation__link" href="">Link</a>
                <a class="mdl-navigation__link" href="">Link</a>
            </nav>
        </div>
        <main class="mdl-layout__content">
            <div class="page-content mdl-components mdl-js-components" style="height:100%">
                <div class="mdl-grid" style="width:100%">
                    <div class="mdl-cell mdl-cell--4-col mdl-cell--5-col-tablet mdl-shadow--4dp" style="height:100%">dsdss</div>
                    <div class="mdl-cell mdl-cell--8-col mdl-cell--7-col-tablet" style="">s</div>
                </div>
            </div>
        </main>
    </div>
</div>