@model OnlineTemplateModel
@{
    ViewBag.Title = Localizer("Common.OnlineTemplate.Create.Title");
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="section-header">
    <div class="title">
        <i class="fa icon-profile"></i>
        <span data-res="egov.resources.sitemap.onlinetemplate"></span>
    </div>
    <div class="options">
        <a class="btn  btn-warning control-btn" id="submit" href="#">
            <span class="icon icon-checkmark"></span>
            <span class="text-uppercase" data-res="egov.resources.buttons.save"></span>
        </a>
        <a class="btn  btn-default control-btn" href="/admin/onlinetemplate/Index">
            <span class="icon icon-arrow-left2"></span>
            <span class="text-uppercase" data-res="egov.resources.buttons.back"></span>
        </a>
    </div>
</div>

   <div id="tabs" class="bkavegov">
            @Html.Partial("_Notifications")
            @Html.Partial("_CreateOrEdit", Model)
    </div>