<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="5.0.0" targetFramework="net40" requireReinstallation="true" />
  <package id="EntityFramework.Migrations" version="0.9.0.0" targetFramework="net40" />
  <package id="Highlight" version="4.0.0" targetFramework="net40" />
  <package id="ILMerge" version="2.13.0307" targetFramework="net40" />
  <package id="MiniProfiler" version="3.2.0.157" targetFramework="net40" />
  <package id="MiniProfiler.EF" version="2.1.0" targetFramework="net40" />
  <package id="MySql.Data" version="6.9.6" targetFramework="net40" requireReinstallation="true" />
  <package id="odp.net.x64" version="112.3.0" targetFramework="net40" />
  <package id="odp.net.x86" version="112.3.0" targetFramework="net40" />
  <package id="SimpleCmdLine" version="0.9.7" targetFramework="net40" requireReinstallation="true" />
</packages>