@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Localizer("Document.DocType.Field.Label");
}

<div id="tabs" class="bkavegov">
    <div class="bkavegov">
        @RenderBody()
    </div>
</div>
