@{
    ViewBag.Title = "Explanation";
    Layout = null;
}

<div class="panel panel-default">
    <div class="panel-heading">
        <span class="text-uppercase">Giải trình</span>
        <div class="pull-right">
            <a href="#" class="viewdetail">Xem chi tiết</a>
        </div>
    </div>
    <div class="container-fluid">
        <table class="table table-hover">
            <colgroup>
                <col style="width: 40px" />
                <col />
                <col style="width: 150px" />
                <col style="width: 100px" />
                <col style="width: 50px" />
                <col style="width: 50px" />
            </colgroup>
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Nội dung</th>
                    <th>Loại BEC</th>
                    <th>Thời hạn</th>
                    <th>
                        <input type="checkbox" />
                    </th>
                    <th>
                        <button class="btn btn-warning btn-sm">Giải trình</button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center">1</td>
                    <td>Văn bản eGov: Về việc: Test bàn giao văn bản có kèm tin nhắn.</td>
                    <td class="text-center">Công việc quá hạn</td>
                    <td class="text-center">18:44</td>
                    <td class="text-center">
                        <input type="checkbox" />
                    </td>
                    <td>
                        <button class="btn btn-warning btn-sm">Giải trình</button>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">2</td>
                    <td>Văn bản eGov: Về việc: Nhận dc tin nhắn thì nhắn lại cho em nhé.</td>
                    <td class="text-center">Công việc quá hạn</td>
                    <td class="text-center">18:44</td>
                    <td class="text-center">
                        <input type="checkbox" />
                    </td>
                    <td>
                        <button class="btn btn-warning btn-sm">Giải trình</button>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">3</td>
                    <td>Văn bản eOffice: Đề xuất sử dụng dịch vụ mạng - TienBV.</td>
                    <td class="text-center">Công việc quá hạn</td>
                    <td class="text-center">18:44</td>
                    <td class="text-center">
                        <input type="checkbox" />
                    </td>
                    <td>
                        <button class="btn btn-warning btn-sm">Giải trình</button>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">4</td>
                    <td>Bạn chưa hoàn thành Tick tập thể dục trên BWSS buổi chiều ngày 17/08/2015</td>
                    <td class="text-center">Tick tập thể dục</td>
                    <td class="text-center">18/8</td>
                    <td class="text-center">
                        <input type="checkbox" />
                    </td>
                    <td>
                        <button class="btn btn-warning btn-sm">Giải trình</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
