@{
    var transferConfigs = ViewBag.TransferConfigs as string;
}

<script>
    var transferConfigs=@(string.IsNullOrEmpty(transferConfigs) ? MvcHtmlString.Create("[]") : Html.Raw(transferConfigs));
    $(function(){
        $.each(transferConfigs,function(){
            $('#transferConfigsBody').append($('#tmpTransferCol').tmpl(this));
        });
    });
</script>
<script type="text/x-jquery-tmpl" id="tmpTransferCol">
    <tr>
        <td>${TransferColumn}</td>
        <td></td>
        <td></td>
    </tr>
</script>
<div class="Hb qd" style="max-width: 600px">
    @using (Ajax.BeginForm("TransferSettings", "Account", new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "menuRight",
        OnSuccess = "onSuccess"
    }, new { refreshPage = true }))
    {
        <table>
            <colgroup>
                <col style="width:200px;"/>
                <col style="width:100px;"/>
                <col />
            </colgroup>
            <thead>
                <tr>
                    <th>Tên cột</th>
                    <th>Vị trí</th>
                    <th>Kích hoạt</th>
                </tr>
            </thead>
            <tbody id="transferConfigsBody">

            </tbody>
        </table>
    }
</div>