@font-face {
    font-family: 'Roboto-Black';
    src: url('../../fonts/Roboto/Roboto-Black.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-BlackItalic';
    src: url('../../fonts/Roboto/Roboto-BlackItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('../../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-BoldItalic';
    src: url('../../fonts/Roboto/Roboto-BoldItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-Italic';
    src: url('../../fonts/Roboto/Roboto-Italic.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-Light';
    src: url('../../fonts/Roboto/Roboto-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-LightItalic';
    src: url('../../fonts/Roboto/Roboto-LightItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url('../../fonts/Roboto/Roboto-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-MediumItalic';
    src: url('../../fonts/Roboto/Roboto-MediumItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url('../../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-Thin';
    src: url('../../fonts/Roboto/Roboto-Thin.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-ThinItalic';
    src: url('../../fonts/Roboto/Roboto-ThinItalic.ttf') format('truetype');
}
html, body, html * {
  font-family: 'Roboto', sans-serif;
}

#disaggregation thead th{
    font-size: 16px;
    font-weight: 600;
    text-align: center !important;
    justify-content: initial;
    background-color: #d1d1df;
}
#disaggregation tbody td{
    font-size: 16px;
    text-align: center !important;
    justify-content: initial;
}
#disaggregation tbody td i {
   cursor: pointer;
}

#myForm fieldset .form-group{
    display:flex;
}

#myForm fieldset .form-check{
    margin-left: 25%;
}

#myForm fieldset .form-group label{
    font-size: 14px;
    text-align: center;
    color: black;
    font-weight: 500;
}

form{
    color: black;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    width: 117px;
}
#myFormImport{
    display: flex;
    margin-right: 4px;
}
.form-check{
    padding-left: 0;
}