@model Object

<div class="section-header">
    <div class="title">
        <i class="fa @Model["icon"]"></i>
        <span data-res="@Model.name"></span>
    </div>
    <div class="options">
        <button class="btn  btn-warning control-btn" id="submit">
            <span class="icon icon-checkmark"></span>
            <span class="text-uppercase" data-res="egov.resources.buttons.confirm"></span>
        </button>
    </div>
</div>