@model IEnumerable<PrinterModel>
@{
    ViewBag.Title = Localizer("Bkav.eGovCloud.Areas.Admin.Title.Printer.Index");
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    function deletePrinter(id) {
        eGovMessage.show(
             '@Html.Raw(Localizer("Common.Printer.ConfirmDelete"))',
            null,
            eGovMessage.messageButtons.YesNo,
            function () {
                $("#formdelete" + id).submit();
            }
        );
    }
</script>
<div class="section-header">
    <div class="title">
        <i class="fa icon-insert-template"></i>
        <span data-res="egov.resources.sitemap.printer"></span>
    </div>
    <div class="options">
        <a class="btn  btn-warning control-btn" href="/admin/printer/Create">
            <span class="icon icon-plus"></span>
            <span class="text-uppercase" data-res="egov.resources.buttons.add"></span>
        </a>
    </div>
</div>
<div id="tabs" class="bkavegov">
    @Html.Partial("_Notifications")
    <div id="divListPrinter">
        @{
            Html.RenderPartial("_PartialList", Model);
        }
    </div>
</div>